a {
  color: #fff;
  font-size: 30px;
}
mat-icon {
  font-size: 34px;
}
.margin-style {
  margin-left: auto;
}
.margin-person-icon-style, .margin-cart-icon-style{
  margin-right: 30px;
}
.mat-toolbar-row, .mat-toolbar-single-row  {
  padding: 0px;
  margin: 10px auto;
}

@media (max-width: 575.98px) { 
  .mat-toolbar, .mat-primary, .mat-toolbar-multiple-rows {
    width: fit-content;
  }
}

.mat-menu-trigger, .mat-menu-trigger:focus {
  margin-left:30px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  outline:none;
}
.mat-focus-indicator, .mat-menu-item:focus {
  outline: none;
}
.icon-style {
  vertical-align: middle;
}