<mat-drawer-container autosize>
  <mat-drawer #drawer class="sidenav" mode="over">
    <div class="div-style">
      <span>
        <a routerLink="/my-account">
          <h5 class="h5-style">Profile</h5>
        </a>
      </span>
    </div>

    <div class="div-style">
      <span>
        <a routerLink="/my-cart">
          <h5 matBadge="{{getTotal()}}" matBadgeColor="warn" [matBadgeHidden]="isBadgeVisible()" class="h5-style">Cart</h5>
        </a>
      </span>
    </div>

    <div class="div-style">
      <button mat-button [matMenuTriggerFor]="categories" class="button-style">
        <h5 class="h5-style">Categories</h5>
        <span style="color:black" class="material-icons icon-style">
          keyboard_arrow_down
        </span>
      </button>
      <mat-menu #categories="matMenu">
        <button mat-menu-item [routerLink]="['/category-detail', 'home']">Home</button>
        <button mat-menu-item [routerLink]="['/category-detail', 'office']">Office</button>
        <button mat-menu-item [routerLink]="['/category-detail', 'garden']">Garden</button>
      </mat-menu>
    </div>
  </mat-drawer>

  <!-- Toolbar -->

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img width="40" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      />
      <a routerLink="">Angular Store</a>

      <button mat-button [matMenuTriggerFor]="menu" class="d-none d-sm-none d-md-block">Categories
        <span class="material-icons icon-style">
          keyboard_arrow_down
        </span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/category-detail', 'home']">Home</button>
        <button mat-menu-item [routerLink]="['/category-detail', 'office']">Office</button>
        <button mat-menu-item [routerLink]="['/category-detail', 'garden']">Garden</button>
      </mat-menu>

      <div class="icons-nav d-none d-sm-none d-md-block">
        <span class="icons-toolbar">
          <a routerLink="/my-account">
            <mat-icon>person_outline</mat-icon>
          </a>
        </span>
        <span class="icons-toolbar">
          <a routerLink="/my-cart">
            <mat-icon matBadge="{{getTotal()}}" matBadgeColor="warn" [matBadgeHidden]="isBadgeVisible()">shopping_cart</mat-icon>
          </a>
        </span>
      </div>

      <div class="icons-nav d-block d-md-none">
        <span class="icons-toolbar">
          <mat-icon (click)="drawer.toggle()">menu</mat-icon>
        </span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-drawer-container>