a {
  color: #fff;
  font-size: 30px;
  outline: none;
}

mat-icon {
  font-size: 34px;
}

.icons-nav {
  margin-left: auto;
}

.icons-toolbar{
  margin-right: 30px;
  cursor: pointer;
}

.mat-toolbar-row, .mat-toolbar-single-row  {
  padding: 0px;
  margin: 10px auto;
}

.mat-menu-trigger, .mat-menu-trigger:focus {
  margin-left:30px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  outline:none;
}
.mat-focus-indicator, .mat-menu-item:focus {
  outline: none;
}
.icon-style {
  vertical-align: middle;
}

::ng-deep mat-drawer-container{
  width: 100% !important;
  height: 100% !important;
}
.sidenav {
  width: 80%;
}

.mat-toolbar, .mat-primary, .mat-toolbar-multiple-rows {
  width: -webkit-fill-available;
  background-color: #007bff;
}
.button-style, .button-style:focus {
  margin: 0;
  padding: 0;
}
.header-mobile-menu {
  display: block;
  height: 18%;
  color: #fff;
  background-color: #007bff;
  text-align: center;
  padding: 20px;
}
.mobile-menu-style {
  padding: 10px;
}
.h4-style {
  color: rgba(0,0,0,.87);
}
.div-style {
  padding: 15px;
  display: block;
  text-align: left;
  cursor: pointer;
}
.categories-box {
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}
ul {
  list-style-type: none;
  margin-bottom: 0px;
  padding: 5px 0px;
}
.dropdown-item.active, .dropdown-item:active {
  text-decoration: none;
  background-color: transparent;
}