<div class="page-style">
    <h2>My Cart Products</h2>

   <app-go-back-button></app-go-back-button>
   
   <div *ngIf="isCartEmpty()">The Cart is Empty</div>

    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 p-3" *ngFor="let itemCart of itemsCart">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{itemCart.title}}</mat-card-title>
                </mat-card-header>
                <div (click)="vewItem(itemCart.id)">
                    <img mat-card-image src={{itemCart.image}} alt="Photo of a Shiba Inu">
                </div>
                <mat-card-content>
                    <p>
                        {{itemCart.subtitle}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button type="button" class="btn btn-primary" (click)="removeToCart(itemCart.id)">REMOVE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

</div>