<div class="page-style">
    <div class="row margin-style">
        <h2>
            Home Products
        </h2>
        <span>
            <a [routerLink]="['/category-detail', 'home']">More>>></a>
        </span>
    </div>

    <app-category categoryCode="home" [maxItems]="4"></app-category>


    <div class="row margin-style">
        <h2>
            Office Products
        </h2>
        <span>
            <a [routerLink]="['/category-detail', 'office']">More>>></a>
        </span>
    </div>

    <app-category categoryCode="office" [maxItems]="4"></app-category>


    <div class="row margin-style">
        <h2>
            Garden Products
        </h2>
        <span>
            <a [routerLink]="['/category-detail', 'garden']">More>>></a>
        </span>
    </div>

    <app-category categoryCode="garden" [maxItems]="4"></app-category>
</div>