<div class="page-style">
    <div class="row margin-style">
        <h2 class="">
            Prodotti Casa
        </h2>

        <span>
            <a routerLink="/category-detail">Scopri>>></a>
        </span>
    </div>

    <app-category></app-category>


    <div class="row margin-style">
        <h2 class="">
            Prodotti Ufficio
        </h2>

        <span>
            <a routerLink="/category-detail">Scopri>>></a>
        </span>
    </div>

    <app-category></app-category>
</div>