.page-style{
    padding: 0px;
    margin: 0 20px;
}

h2 {
    text-transform: capitalize;
 }

@media screen and (max-width: 575.98px) { 
    h2 {
        font-size: 1.5rem !important;
    }
}

.margin-style {
    padding: 20px;
}

span {
    margin: 10px;
}