<div class="page-style">
    <div class="row margin-style">
        <h2>
            Prodotti Casa
        </h2>
        <span>
            <a [routerLink]="['/category-detail', 'casa']">Scopri>>></a>
        </span>
    </div>

    <app-category categoryCode="casa"></app-category>


    <div class="row margin-style">
        <h2>
            Prodotti Ufficio
        </h2>
        <span>
            <a [routerLink]="['/category-detail', 'ufficio']">Scopri>>></a>
        </span>
    </div>

    <app-category categoryCode="ufficio"></app-category>


    <div class="row margin-style">
        <h2>
            Prodotti Giardino
        </h2>
        <span>
            <a [routerLink]="['/category-detail', 'giardino']">Scopri>>></a>
        </span>
    </div>

    <app-category categoryCode="giardino"></app-category>
</div>