.page-style {
   padding: 30px;
   margin: 0 20px;
}
.row {
    width: 50%;
}
@media (max-width: 575.98px) { 
    .row {
      width: 100%;
    }
  }

.postcode-style {
    width: 50%;
}

::ng-deep.green-snackbar {
    background-color: #28a745;
}

::ng-deep.red-snackbar {
    background-color: #dc3545;
}
::ng-deep.mat-simple-snackbar {
    font-size: 1.5rem;
    justify-content: center !important;
}